page-home {
	.home_title {
		margin-top: 10px;
	}

	.plus_icon {
		background-color: transparent;
	    color: black;
	    box-shadow: none;
	}

    .margin_top_n10 {
        margin-top: -10px;
    }
}
